body{
    display: block;
    width: 1192px;
    height: 736px;
    background: #3A4965;
    margin: 0 auto;
}
main{
    display: block;
    width: 1143px;
    height: 684px;
    margin: 22px 30px 32px 20px;
}
table{
    width: 100%;
    height: 100%;;
    background-color: #fff;
}
th {
    border-left:2px solid #0000001a!important;
    
  }
tr:nth-child(2n+2) {
    background-color: #E3E3E3;    
}
tr{
  background: #F2F2F2;
  height: 72px;
}
table{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    color: #484848;
}
table th{
    width: 280px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #484848;
    vertical-align: middle;
}
.price{
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    width: 105px;
    margin-left: 50px;
}
.price sup{
    display: block;
    font-size: 24px;
    margin-top: -55px;
    margin-left: 101px;
}
.money_th{
}
.storage::before{
    content: "";
    background-image: url(../image/storage.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 26px;
    margin-bottom: -10px;
    margin-right: 4px;
}
.bandwith::before{
    content: "";
    background-image: url(../image/bandwith.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 27px;
    height: 28px;
    margin-bottom: -10px;
    margin-right: 4px;
}
.email::before{
    content: "";
    background-image: url(../image/mail.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 22px;
    margin-bottom: -4px;
    margin-right: 4px;
}
.support::before{
    content: "";
    background-image: url(../image/support.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 28px;
    margin-bottom: -6px;
    margin-right: 4px;
}
.products::before{
    content: "";
    background-image: url(../image/products.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-bottom: -6px;
    margin-right: 4px;
}
.users::before{
    content: "";
    background-image: url(../image/user.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-bottom: -6px;
    margin-right: 4px;
}
th button{
    width: 195px;
    height: 54px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    border:none;
    text-transform: uppercase;
}
tfoot{
    height: 111px;
}
.per_month{
    font-size: 18px;
    width: 136px;
    float: right;
    margin-top: 4px;
}
.choose{
    width: 313px;
    height:159px;
}
tr:nth-child(-n+2){
    background: #fff;
}