body{
    display: block;
    width: 1197px;
    height: 736px;
    background: #3A4965;
    margin: 0 auto;
}
main{
    display: block;
    width: 1142px;
    height: 684px;
    margin: 22px 30px 32px 20px;
}
.main {
    width: 100%;
    height: 499px;
    background-color: #F2F2F2;
}
.main th {
    border-bottom:2px solid #0000001a!important;
    width: 160px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #484848;
    vertical-align: middle;
    
}
.main th:nth-child(2n+2) {
    background-color: #E3E3E3;    
}
.main tr{
  background: #F2F2F2;
  height: 72px;
}

.head{
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
}
.head th{
    width: 160px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
    vertical-align: middle;
}
.head th:nth-child(2n+2)
{
    background: #E3E3E3;
}
.first_th_head{
    width: 200px!important;
}
.main .first_th_head{
    display: flex;
    color: #FFFFFF;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    height: 164px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.head .image_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.price{
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    width: 105px;
    margin-left: -14px;
}
.price sup{
    display: block;
    font-size: 18px;
    margin-top: -38px;
    margin-left: 66px;
}
.wrap{
    display: flex;
    margin-top: 5px;
}
th button{
    width: 147px;
    height: 44px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    margin-top: 18px;
    background: #484848;
    border-bottom: 5px solid #404040
}
.per_month{
    font-size: 14px;
    width: 112px;
    margin-left: -5px;
}